@use "helpers/media-query" as *;
@use "helpers/utilities" as *;
@use "functions/prop-exist" as *;
@use "sass:meta";
@use "sass:list";


// Note - Alternative name: Selective-Apply-Declarations
@mixin Consume-PropsDirective-Over-Map($props-directives-map, $map){
  @each $prop-directive in $props-directives-map {
    
    $prop-name: get-prop-name($prop-directive);
    $css-prop: resolve-css-prop-name($prop-directive);
    $value: null;

    @if Submap-Request-Specified-On($prop-directive) {
      $sub-map: get-submap($map, $prop-directive);
      $value: get-value-from-submap($sub-map, $prop-name);
    }
    @if not Submap-Request-Specified-On($prop-directive) {
      $value: get-value-from-map($map, $prop-name);
    }

    @if ($value and Validation-Requested($prop-directive)){
      // Note - Tutto questo tree andrebbe fatto a parte
      $validator: get-validation-hook($prop-directive);
      
      @if (is-validator-with-parameters($validator)) {
        $validation-function-name: list.nth($validator, 1);
        $validation-parameters: list.nth($validator, 2);
        $validation-function: construct-validation-function($validation-function-name);
      
        @if not validate($validation-function, $value, $validation-parameters) {
          @error 'The validation failed for: "#{$validation-function-name}" - Because "#{$value}" is not valid < #{$validation-function-name} > for parameters: #{$validation-parameters}';
        }
      }

      @else {
        $validation-function: construct-validation-function($validator);
        @if not validate($validation-function, $value) {
          @error 'The value "#{$value}" is not a valid: < #{$validator} > -';
        }
      }
    }

    @if ($value and Modification-Requested($prop-directive)){

      // Note - I need to make this capable to do with parameters
      $function: construct-modificator-function($prop-directive);
      $value: modificate($function, $value);
    }

    @include write-declaration-if-value-exist($css-prop, $value);
  }
}