@use "sass:map";
@use "../_common-utilities/write-declaration" as *;
@use "utilities/aliasier-utils" as *;
@use "utilities/disallower-utils" as *;
@use "utilities/excluder-utils" as *;

// Note - dobbiamo lasciarlo come core (?)
@mixin Spread-Properties-From-Map($map, $props-to-exclude: null, $props-to-unallow: null, $aliasies: null) {
  @each $prop-name, $prop-value in $map{
    // Note - Room for error handling... 
    // Note - map exist
    // Note - is-css-prop($prop-name)
    // Note - is-valid-value($prop-value)
    
    @if $props-to-exclude and is-prop-in-exclude-list($prop-name, $props-to-exclude) { 
      $prop-value: null 
    };

    @if $props-to-unallow and is-prop-in-unallow-list($prop-name, $props-to-unallow) {
      $map-reference: map-to-string($map);
      @error (' < #{$prop-name} > IS NOT ALLOWED IN THIS MAP !! ---> #{$map-reference}');
      //$error: throw-unallow-prop-error($prop-name, $map-reference) << Vorrei fare così
    }

    @if $aliasies and is-prop-in-aliasies-map-keys($prop-name, $aliasies) {
      $prop-name: rename-prop($prop-name, $aliasies);  
    }
    
    @include write-declaration-if-value-exist($prop-name, $prop-value)
  }
} // Note questo ci serve, è il core di apply-declaration 
// Note - Dev'essere migliorata la gestione delle validation, modification, aliasies, ecc

