  

// Navigation Inline Size Calculation
// Note - Domanda vogliamo eliminare la navigation con questi ::Scroll-marker pseudo?

$-CALCULATION-Of-Inline-Size-Carousel-Navigation: calc(
  ( var(--scroll-markers-size) * var(--carousel-slide-amount) ) +
  ( var(--scroll-marker-group-gap) * var(--carousel-slide-amount))
);  // 🔒 - Need it for positoin: inside-frame

.carousel::scroll-marker-group{
  inline-size: $-CALCULATION-Of-Inline-Size-Carousel-Navigation;
  
  @container --carousel-container style(--scroll-marker-group-orientation: horizontal) {
    max-inline-size: var(--carousel-frame-width); 
  }

  @container --carousel-container style(--scroll-marker-group-orientation: vertical) {
    max-inline-size: var(--carousel-frame-height);
  }
}

.carousel {
  // Note - Da individualizzare.
  scroll-marker-group: after;
  // Always after 
  // Only used to show the scroll-marker-group
  // No intent-positioning here (Position is handle by grid)
}