@font-face {
    font-family: "MaryTodd W00 Regular";
    src: url("https://db.onlinewebfonts.com/t/57de0e33a644cc8501a1835d273b75dd.eot");
    src: url("https://db.onlinewebfonts.com/t/57de0e33a644cc8501a1835d273b75dd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/57de0e33a644cc8501a1835d273b75dd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/57de0e33a644cc8501a1835d273b75dd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/57de0e33a644cc8501a1835d273b75dd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/57de0e33a644cc8501a1835d273b75dd.svg#MaryTodd W00 Regular")format("svg");
}

@font-face {
    font-family: "Georgia";
    src: url("https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.eot");
    src: url("https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.svg#Georgia")format("svg");
}