@use "@SASS-Abstracts" as *;
@use "../tokens" as *;
@use "../abstract/globals/globals" as Glob;

.carousel__container {
  

  @include Breakpoints-Map--Consume-PropsDirectives-ForEach-Breakpoint-Map(
    $Map: $carousel-buttons, 
    
    $props-directives-map: (

        
    // ▄▀▀ █ ▀█▀ █ █▄ █ ▄▀  
    // ▄█▀ █ █▄▄ █ █ ▀█ ▀▄█ 
      (
        prop-name: width,
        as: --buttons-width,
        //validation-hook: length,
      ),
      (
        prop-name: height,
        as: --buttons-height,
        //validation-hook: length,
      ),


    // ▄▀▄ █▀▄ █ ██▀ █▄ █ ▀█▀ ▄▀▄ ▀█▀ █ ▄▀▄ █▄ █
    // ▀▄▀ █▀▄ █ █▄▄ █ ▀█  █  █▀█  █  █ ▀▄▀ █ ▀█
      (
        prop-name: orientation,
        as: --buttons-orientation,
        validation-hook: axis-long-name,
      ),
  

    // █▀▄ ▄▀▄ ▄▀▀ █ ▀█▀ █ ▄▀▄ █▄ █ █ █▄ █ ▄▀  
    // █▀  ▀▄▀ ▄█▀ █  █  █ ▀▄▀ █ ▀█ █ █ ▀█ ▀▄█ 
      (
        prop-name: position,
        as: --buttons-position,
        validation-hook: (literal-string-union, Glob.$BUTTONS_POSITIONS),
      ),
      (
        sub-map: position-offset,
        prop-name: horizontal,
        as: --buttons-position-horizontal-offset,
        validation-hook: length,
      ),
      (
        sub-map: position-offset,
        prop-name: vertical,
        as: --buttons-position-vertical-offset,
        validation-hook: length,
      ),


    )
  )


}