@use "@SASS-Abstracts" as *;
@use "../tokens" as *;
@use "../abstract/globals/globals" as Glob;

.carousel::scroll-button(*){
  font-family: carousel-arrows-font;

  @include Breakpoints-Map--Consume-PropsDirectives-ForEach-Breakpoint-Map(
    $Map: $carousel-buttons-icon, 
    $props-directives-map: (
      (
        prop-name: type,
        as: content,
        validation-hook: (number-between, (1, Glob.$ICONS-AMOUNT)),
        modificator-hook: get-unicode-from-number,
      ),
      (
        prop-name: size,
        as: font-size,
      ),
      (
        prop-name: stroke-width,
        as: -webkit-text-stroke-width,
      ),
      (
        prop-name: stroke-color,
        as: -webkit-text-stroke-color,
        validation-hook: color,
      ),
    )
  );
}