@use "sass:map";
@use "sass:string";
@use "undisplay-items-not-on-grid" as *;
@use "../../abstracts//mixins/apply-simple-declarations" as *;

@mixin Create-Macro-Layout($macro-layout-map, $macro-layout-area, $Defaults){
  display: grid;
  contain: layout;
  
  @include Apply-Simple-Declarations($Defaults);

  @each $index, $map in $macro-layout-map{
    $breakpoint: map.get($map, at);
    $grid-template: map.get($map, grid-template);
    $height: map.get($map, height);
    //$query-target: map.get($map, query);
    //$container-name: map.get($map, name);
    
    @media (width #{$breakpoint}){
      grid-template: $grid-template;
      @if ($height) {height: $height;}
      @include Undisplay-Items-Currently-Not-On-Grid($grid-template, $macro-layout-area)
    }
  }

  @each $selector, $area in $macro-layout-area{
    .#{$selector}{
      container-type: size;
      container-name: --macro-layout-area;
      grid-area: string.unquote($area);
    }
  }
}
