@use "../../../abstracts/" as *;
@use "tokens" as *;
@use "sass:string";

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $nav-gap;
  min-width: 0;

  font-family: $nav-font-family;
  font-size: $nav-font-size;
  font-weight: $nav-font-weight;
  color: $nav-color;
  background-color: transparent !important; // Leave it !

  container-type: normal;
  container-name: --nav-container;
  anchor-name: --nav-anchor;

  --m-only-show-links-missing-from-desktop-nav: #{set-boolean($m-only-show-links-missing-from-desktop-nav)};
}
