@use "tokens" as *;
@use "mixins/selectors-mobile" as *;
@use "../../../abstracts/" as *;
@use "functions/user-wants-to-anchor-on-ham-icon";

// Todo (!) C'è un sacco di roba da Tokenizzare

@include NavigationList-Mobile-WhenHidden {
  display: none;
}

@include NavigationList-Mobile {
  z-index: 99;
  width: $m-nav-width;
  height: $m-nav-height;
  position: absolute;
  // inset: $m-nav-inset-1; // What is this
  @include apply-mediaQuery-declarations-map-from($cant-find-name);

  overflow-y: visible;

  padding-block: $m-nav-padding-block;
  padding-inline: $m-nav-padding-inline;

  background: $m-nav-background;

  font-family: $m-nav-font-family;
  font-size: $m-nav-font-size;
  font-weight: $m-nav-font-weight;

  @if (user-wants-to-anchor-list-on-hamburger-icon()) {
    position-anchor: --nav-anchor;
  } // Todo Da rimuovere

  // Hiding desktop background
  &::before {
    display: none;
  }
}

// Todo If user wants the backdrop
@include NavigationList-Mobile-Backdrop {
  @include pseudo-fixed-inset-0;
  background-color: transparent;
}
