@use "../../../abstracts" as *;

// Note - Alla fine tutto deve andare in una mappa, tipo
// - carousel
// - - - buttons
// - - - - - - layout
// - - - - - - style
// - - - - - - icon

// Todo - Maybe it wants to be contained "size" (?)
// Todo - Alla fine togliamo i big comments

// Note Con breakpoint map è possibile anche fare cose tipo
// Note (width > 500px) and (heigth > 1000px)
// Note orientation: landscape and (width < 755px)
// Note - Insomma le possibilità sono infinite
// Note - Segnarlo negli appunti

// Note - The breakpoint map
// Note - It can respond easily to landscape mode - It can do easily multiple media queries
// Note - Given examples:

$carousel: (
  'default': (
    
    wrapper: (
      /// Gap between frame & navigation inside the carousel wrapper
      gap: 2.25rem,
      // Note - Questa proprietà potrebbe essere messa sia qui, sia in navigation
      padding: 2rem,
      border: 2px solid red,
      border-radius: 2rem,
    ),

    frame: (
      width: clamp(18rem, 95cqw, 40rem),
      height: clamp(18rem, 95cqw, 40rem),
      border-radius: 12px,
      background: rgba(128, 128, 128, 0.267),
    ),

    slide: (
      width: 100%,
      height: 100%,
      first-margin-start: 0%,
      first-margin-end: 0%,
      gap: 5.75%,
    ),

    scroll: (
      behaviour: smooth,
      direction: horizontal,
      snap-type: mandatory,
      snap-stop: always,
      snap-align: start,

      infinite-scroll: false, // Note - Abbiamo detto che questo lo avremmo deciso con Astro
      infinite-scroll-type: order, // Note - Si era detto che lo avremmo fatto automatico
      auto-scroll: false, // Note - Anche questo volevamo gestirlo con astro
      auto-scroll-speed: 3725ms, // Note- stessa cpsa
    ),

    // Note - gap from navigation lo spostiamo?
  )
);

$carousel-width: clamp(18rem, 95cqw, 40rem); //Container: 'container' | Only use cqw
$carousel-height: clamp(10rem, 65cqw, 27.75rem); //Container: 'container' | Only use cqw
// Temporaney test value
$carousel-width: 425px; //Container: 'container' | Only use cqw
$carousel-height: 350px; //Container: 'container' | Only use cqw
// Temporaney test value
$carousel-border-radius: 12px; //clamp(1rem, 12cqw, 2.75rem);
$carousel-background: rgba(128, 128, 128, 0.267);

$carousel-slide-width: 100%;
$carousel-slide-height: 100%;
$carousel-slide-first-margin-start: 0%;
$carousel-slide-last-margin-end: 0%;
$carousel-slide-gap: 5.75%;
//$carousel-slide-amount: 4; // Provide the number of slides for computing reasons

$carousel-scroll-behaviour: smooth;
$carousel-scroll-direction: horizontal;
$carousel-scroll-snap-type: mandatory;
$carousel-scroll-snap-stop: always;
$carousel-scroll-snap-align: start;

$carousel-scroll-infinite-scroll: false;
$carousel-scroll-infinite-scroll-type: order; // change-orders || duplicate-elements (The first it's better for performance but it doesn't work everywhere)
$carousel-scroll-auto-scroll: false;
$carousel-scroll-auto-scroll-speed: 2225; // in ms

$carousel-gap-between-carousel-and-navigation: 1.25rem; // Note questo forse possiamo spostarlo all'interno di navigation, sotto il nome di "distance" (the gap between the carousel and the navigation)

// ██▄ █ █ ▀█▀ ▀█▀ ▄▀▄ █▄ █ ▄▀▀ 
// █▄█ ▀▄█  █   █  ▀▄▀ █ ▀█ ▄█▀ 

// true || false - no means that all the code related to the buttons it will not be loaded - if you need to responsively display the buttons, then delegate it to the buttons-positions-map.
$carousel-buttons-display: false; 

$carousel-buttons: (
  'default': (
    // Layout
    width: clamp(2.75rem, 10vw, 3.75rem),
    height: clamp(2.75rem, 10vw, 3.75rem),
    position: display-none,
    orientation: horizontal,
    ),
    
    '(width > 455px)': (
    width: clamp(3.75rem, 10vw, 4.5rem),
    height: clamp(3.75rem, 10vw, 4.5rem),
    position: inside-frame,
    position-offset: (horizontal: 2rem, vertical: 0rem),
  ),

  '(width > 900px)': (
    position: align-on-navigation-and-carousel-margins,
  )
);

$carousel-buttons-style: (
  'default': (
    // Note - Vorrei esporre un file sass per fare qualcosa di custom, tipo custom borders on hover che ruotano, cose così.
    
    // Style
    color: $body-text-color, 
    background: transparent, 
    border: 2px solid $body-text-color, 
    border-radius: 75vw, 
    border-offset: 12px, 
    
    transition: 225ms, // Note - Tokenize on Default Design Transition

    // You won't have validation on those props, at least for now.
    hover: (
      scale: 1.1,
      color: red,
      background: transparent,
      border: 2px solid red,
    ),
    active: (
      scale: 1.2,
      color: cyan,
      background: transparent,
      border: 2px solid cyan,
    ),
    disabled: (
      opacity: 0.625,
      cursor: not-allowed,
    ),
    focus-visible: (
      outline: 2px solid goldenrod, // Note - Tokenize on Default Design Outline
      outline-offset: 2.75px,
    )
  ),
);

$carousel-buttons-icon: (
  'default': (
    type: 11, // 1-25 // I like myself 3 & 24
    size: 1.25rem,
    stroke-width: 0px,
    stroke-color: transparent,
  )
);

// ▄▀▀ ▄▀▀ █▀▄ ▄▀▄ █   █      █▄ ▄█ ▄▀▄ █▀▄ █▄▀ ██▀ █▀▄    ▄▀  █▀▄ ▄▀▄ █ █ █▀▄ 
// ▄█▀ ▀▄▄ █▀▄ ▀▄▀ █▄▄ █▄▄    █ ▀ █ █▀█ █▀▄ █ █ █▄▄ █▀▄    ▀▄█ █▀▄ ▀▄▀ ▀▄█ █▀  

// Todo Questa variabile sotto
// Same as buttons display - If you don't need AT ALL the navigation, set on no, and the code won't be injected to the css final sheet.
$carousel-navigation-display: true; 

$carousel-navigation:( // Note - Name is temporaney
  'default': (
    position: after, 
    position-inset: (top: 1rem, right: 1rem), // Only works with position: inside-frame
    orientation: horizontal, 
    alignment: center, 
    
    // Todo - Qui andrebbe inserito anche max-size, però per far si che funzioni, bisogna risalire in cima, e refactorare il codice prima
    // Todo - con la mappa breakpoint, dedicata al carousel, dopodichè far diventare width & height una css var
    // Todo - dopodichè avremo i mezzi per implementare il max size token
    // This will override the default max-size (set on carousel size)

    gap: 0.75rem, 
    
    outline: none,        
    outline-offset: none, 
    outline-radius: none, 
    
    markers-direction: auto,
    markers-justification: center,
    markers-size: 24px, 
    markers-style: default, 
  ),
);


$carousel-scroll-marker-styles: (  // Do not declare width or height in here  

  default:(
    // Todo - I may still to want to use my Selective-Property-Assignment for better name abstractions
    border-radius: 100vw,
    background-color: pink,
    background-color-hover: rgb(253, 106, 131),
    background-color-active: rgb(243, 36, 71),
    background-color-target-current: rgb(253, 23, 61),
  
    border: 1.75px solid red,
    border-hover: 1.75px solid  red,
    border-active: 1.75px solid cyan,
    border-target-current: 1.75px solid white,
 /* (border-offset) */ padding: 2px, 
 
    outline-focus-visible: 1.25px solid rgb(147, 147, 255),
    outline-offset: 3.25px,

    scale-hover: 1.1,
    scale-target-current: 1.25, 
    transition: 375ms,
  ),

  // Note - Forse per questo bisogna usare javascript, per ottimizzarlo bene.
  slide-image-path:'https://picsum.photos/800/400?random', divisor: '=', ext: '', 
  // Note - Qui non so se conviene farlo così... 
  // Note - Forse potrei usare Astro - 
  // Note - Magari potrei usare dei mini-placeholder per delle immagini molto piccole estrapolate con getImage e caricarli solo se nella mappa layout c'è "slide-image"
  // Memo - Do not declare width or height in here
  slide-image:(
    background-color: transparent,
    background-color-hover: transparent,
    background-color-active: transparent,
    background-color-target-current: transparent,
    background-size: cover,
    background-repeat: no-repeat,
    background-position: center,
  ),

  // Memo - Do not declare width or height in here
  counter-numbers:(
    background-color: transparent,
    background-color-hover: transparent,
    background-color-active: transparent,
    background-color-target-current: transparent,
    // Note - If things does not change - I may want to use Selective-Assignment to Better abstract naming conventions.
    color: gray,
    color-hover: gray,
    color-active: white,
    color-target-current: #fff, // Strange behaviour - Use -active

    border: 1.75px solid red,
    border-hover: 1.75px solid  red,
    border-active: 1.75px solid cyan,
    border-target-current: 1.75px solid white,
    /* (border-offset) */ padding: 3px, 
    
    font-family: Arial, 
    font-size: 1.25rem,
    font-weight: bold,
    text-decoration: none,
  ),
);

// Note - Sarà importante esporre una buona documentazione
// Note - Questa mappa astrae il lavoro di preoccuparsi del posizionamento dello scroll marker group
// Note - Tutto ciò relativo al posizionamento viene effettuato qui dentro (SRP)

// Note - Inserire nella documentazione: Usare justification center se i buttons non sono ancorati **all'interno** della navigation
// Note - Sarà importante creare una buona documentazione - Con tanti examples
  
$carousel-debug-mode-on: no; // yes || no



