@use "../../../abstracts" as *;

// Todo - Maybe it wants to be contained "size" (?)

$carousel-width: clamp(18rem, 95cqw, 40rem); //Container: 'container' | Only use cqw
$carousel-height: clamp(10rem, 65cqw, 27.75rem); //Container: 'container' | Only use cqw
$carousel-border-radius: 12px; //clamp(1rem, 12cqw, 2.75rem);
$carousel-background: rgba(128, 128, 128, 0.267);

$carousel-sizing-behaviour: ignore-navigation-size; // stretch-with-navigation || ignore-navigation-size
// Note - Secondo me questa complica molto le cose - 
// Note - Togliamola, e facciamo che l'unica fonte di verità per le dimensioni del carosello è carousel width e height.
// Note - In fondo, quand'è che avrò bisogno di un carosello che stretcha appresso alla navigation? mi sembra assurdo
//

$carousel-slide-width: 100%;
$carousel-slide-height: 100%;
$carousel-slide-first-margin-start: 0%;
$carousel-slide-last-margin-end: 0%;
$carousel-slide-gap: 5.75%;
//$carousel-slide-amount: 4; // Provide the number of slides for computing reasons

$carousel-scroll-behaviour: smooth;
$carousel-scroll-direction: horizontal;
$carousel-scroll-snap-type: mandatory;
$carousel-scroll-snap-stop: always;
$carousel-scroll-snap-align: start;

$carousel-scroll-infinite-scroll: false;
$carousel-scroll-infinite-scroll-type: order; // change-orders || duplicate-elements (The first it's better for performance but it doesn't work everywhere)
$carousel-scroll-auto-scroll: false;
$carousel-scroll-auto-scroll-speed: 2225; // in ms

$carousel-gap-between-carousel-and-navigation: 2.5rem;

$carousel-buttons-display: yes; // yes || no - no means that all the code related to the buttons it will not be loaded - if you need to responsively display the buttons, then delegate it to the buttons-positions-map.
$carousel-buttons: (
  'default': (
    // Layout
    width: clamp(3.75rem, 10vw, 4.5rem),
    height: clamp(3.75rem, 10vw, 4.5rem),
    orientation: horizontal,
    position: align-on-navigation-and-space-between,
    position-offset: (horizontal: 4rem, vertical: 2rem), // Todo - Validation Hook? <length> (?) 

    // Note - Come vogliamo gestire lo style diversamente dal layout ? Facciamo tutto qui?
    // Style
    border: 0px solid red, // Todo
    border-radius: 120vw, // Todo
  ),
);



$carousel-buttons-width: clamp(3.75rem, 10vw, 4.5rem);
$carousel-buttons-height: clamp(3.75rem, 10vw, 4.5rem);
$carousel-buttons-border-radius: 120vw;
$carousel-buttons-orientations-map: ( 
  // Valid orientations: horizontal || vertical
  horizontal
);
$carousel-buttons-positions-change-property: --buttons-position; //Leave it like that | Dovrei lasciarlo così?
/** Docs $carousel-buttons-position-map
 *
 * Mappa che definisce le posizioni disponibili per i pulsanti del carosello.
 * Le chiavi possono essere media queries (opzionali), i valori sono stringhe
 * che rappresentano la posizione del bottone.
 *
 * Valori validi:
 * - outside-carousel
 * - feet-carousel
 * - head-carousel
 * - inside-carousel
 * - left-carousel
 * - right-carousel
 * - display-none
 * - inside-navigation
 * - align-on-navigation // Note - Temporaney name
 * - align-on-navigation-and-space-between // Note - Temporaney name | Maybe too long (?)
 * - Sintassi media query:
 * - ([min || max], width, breakpoint)
 *
 * Esempio d’uso:
 * (
 *   (min, width, 1000px): outside-navigation,
 *   (max, width, 1000px): inside-navigation
 * )
 */
$carousel-buttons-positions-map: (
  align-on-navigation // Note- Find better name
); // Note - Vorrei anche aggiungere un'altra posizione, tipo outside navigation - O dare un modo per allineare sia alla navigation che al carousel
// Note - Questa cosa potrebbe essere fatta specificando 2 diversi anchor name nella funzione anchor

// Note - L'idea è rimuovere tutta questa roba, e usare semplicemente un horizontal-offset e un vertical-offset nella mia breakpoint map
// Note - Codice più semplice, più pulito e più ottimale

// Note - Oppure potrei lasciarli di default... non saprei...
$carousel-buttons-position-outside-carousel: (horizontal-offset: 2.75rem, vertical-offset: 0.0rem);
$carousel-buttons-position-inside-carousel:  (horizontal-offset: 2.75rem, vertical-offset: 0.0rem);
$carousel-buttons-position-feet-carousel:    (horizontal-offset: 0.00rem, vertical-offset: 3.725rem); // Note - Magari c'è un modo automatico per farlo?
$carousel-buttons-position-right-carousel:   (horizontal-offset: 1.25rem, vertical-offset: 0.0rem);
$carousel-buttons-position-left-carousel:    (horizontal-offset: 0.00rem, vertical-offset: 0.0rem);
$carousel-buttons-position-inside-navigation: (
  margins-from-scroll-markers-group-when-default: 0rem,             // Only works with buttons position inside navigation
  margins-from-scroll-markers-group-when-use-counter-numbers: 0rem, // Only works with buttons position inside navigation
  margins-from-scroll-markers-group-when-use-slide-image: 0rem,     // Only works with buttons position inside navigation
);
$carousel-buttons-borders: 0px 0px 0px 2px white; // It's a box shadow but we use it as border
$carousel-buttons-box-shadows: $carousel-buttons-borders;
$carousel-buttons-background: transparent; 
$carousel-buttons-color: red; 

// Note - Per ora non ci preoccuperemo dell'icona

$carousel-buttons-arrow-icon-shape: 1; // The SVG Shape (1-3)
$carousel-buttons-arrow-icon-inset: 0;
$carousel-buttons-arrow-icon-rescale: 1; // Leave it
$carousel-buttons-arrow-icon-stroke-width: 2;
$carousel-buttons-arrow-icon-color: red;
$carousel-buttons-arrow-icon-outline: 0.75; 
$carousel-buttons-arrow-icon-outline-offset: 0;
$carousel-buttons-arrow-icon-outline-color: white;

// Note - Non posso gestire il size dell'icona? wut? - Forse ho un modo più ottimizzato per farlo, sfruttrando Astro, senza usare background-image


// ▄▀▀ ▄▀▀ █▀▄ ▄▀▄ █   █      █▄ ▄█ ▄▀▄ █▀▄ █▄▀ ██▀ █▀▄    ▄▀  █▀▄ ▄▀▄ █ █ █▀▄ 
// ▄█▀ ▀▄▄ █▀▄ ▀▄▀ █▄▄ █▄▄    █ ▀ █ █▀█ █▀▄ █ █ █▄▄ █▀▄    ▀▄█ █▀▄ ▀▄▀ ▀▄█ █▀  

$carousel-navigation:( // Note - Name is temporaney
  'default': (
    position: after, 
    position-inset: (top: 2rem, right: 1rem), // Note - Done (Almost) Problema con defaults (container querys with ANDs)
    orientation: horizontal, 
    alignment: center, 
    
    // Todo - Qui andrebbe inserito anche max-size, però per far si che funzioni, bisogna risalire in cima, e refactorare il codice prima
    // Todo - con la mappa breakpoint, dedicata al carousel, dopodichè far diventare width & height una css var
    // Todo - dopodichè avremo i mezzi per implementare il max size

    gap: 1rem, 
    
    outline: none,        
    outline-offset: none, 
    outline-radius: none, 
    
    markers-direction: auto,
    markers-justification: center,
    markers-size: 24px, 
    markers-style: default, 
  ),

  '(width > 1000px)': (
    position: before, 
    orientation: vertical, 
    alignment: center,

    gap: 2.25rem, 
    
    outline: none,
    outline-offset: none,
    outline-radius: none,
    
    markers-justification: start,
    markers-size: 52px, 
    markers-style: slide-image, 
  ),
);


$carousel-scroll-marker-styles: (  // Do not declare width or height in here  

  default:(
    // Todo - I may still to want to use my Selective-Property-Assignment for better name abstractions
    border-radius: 100vw,
    background-color: pink,
    background-color-hover: rgb(253, 106, 131),
    background-color-active: rgb(243, 36, 71),
    background-color-target-current: rgb(253, 23, 61),
  
    box-shadow: 0px 0px 0px 0.25px red,
    box-shadow-hover: 0px 0px 0px 0.25px red,
    box-shadow-active: 0px 0px 0px 0.25px cyan,
    box-shadow-target-current: 0px 0px 0px 0.3px white,

    border: 3px solid transparent, // Use as offset  
 
    outline-focus-visible: 1.25px solid rgb(147, 147, 255), // Note - Outline still gives animation problems
    outline-offset: 3.25px,

    scale-hover: 1.1,
    scale-target-current: 1.25, 
    transition: 375ms,
  ),

  // Note - Forse per questo bisogna usare javascript, per ottimizzarlo bene.
  slide-image-path:'https://picsum.photos/800/400?random', divisor: '=', ext: '', 
  // Note - Qui non so se conviene farlo così... 
  // Note - Forse potrei usare Astro - 
  // Note - Magari potrei usare dei mini-placeholder per delle immagini molto piccole estrapolate con getImage e caricarli solo se nella mappa layout c'è "slide-image"
  // Memo - Do not declare width or height in here
  slide-image:(
    background-color: transparent,
    background-color-hover: transparent,
    background-color-active: transparent,
    background-color-target-current: transparent,
    background-size: cover,
    background-repeat: no-repeat,
    background-position: center,
  ),

  // Memo - Do not declare width or height in here
  counter-numbers:(
    background-color: black,
    background-color-hover: black,
    background-color-active: black,
    background-color-target-current: black,
    // Note - If things does not change - I may want to use Selective-Assignment to Better abstract naming conventions.
    color: gray,
    color-hover: gray,
    color-active: white,
    color-target-current: #fff, // Strange behaviour - Use -active
    box-shadow: 0px 0px 0px 2px gray,
    box-shadow-hover: 0px 0px 0px 2px gray,
    box-shadow-active: 0px 0px 0px 2px white,
    box-shadow-target-current: 0px 0px 0px 2px white,
    // Note - Mettere nella documentazione che puoi fare override di questo tipo, e poi rimuovere da qui
    border: 4px solid transparent, //! Used as border offset
    
    font-family: Arial, 
    font-size: 1.75rem,
    font-weight: bold,
    text-decoration: none,
  ),
);

// Note - Sarà importante esporre una buona documentazione
// Note - Questa mappa astrae il lavoro di preoccuparsi del posizionamento dello scroll marker group
// Note - Tutto ciò relativo al posizionamento viene effettuato qui dentro (SRP)

// Note - Inserire nella documentazione: Usare justification center se i buttons non sono ancorati **all'interno** della navigation
// Note - Sarà importante creare una buona documentazione - Con tanti examples
  
$carousel-debug-mode-on: no; // yes || no



