@use "./defaults.scss" as Defaults;


// █▄ █ ██▀ █   █ ▄▀▀    ▄▀▄ █▀▄ ▀█▀ █ ▄▀▀ █   ██▀ 
// █ ▀█ █▄▄ ▀▄▀▄▀ ▄█▀    █▀█ █▀▄  █  █ ▀▄▄ █▄▄ █▄▄ 

// Todo - Dovrei dare dei nomi più specifici a questi preview

$news-article: (
  preview-1: (
    text-alignment: left,

    header-padding-inline: 1.25rem,
    header-padding-block: 1.3rem,
    header-gap: 1rem,

    title-font-size: 1.55rem,
    title-font-weight: 400,
    title-line-height: 1.25,
    title-line-clamp: none,
    title-letter-spacing: 0px,
    title-word-spacing: 0px,
    title-text-decoration: none,
    title-text-transform: Defaults.$article-heading-text-transform,
    title-color: Defaults.$article-heading-color-on-thumbnail,
    title-background: transparent,
    
    metadata-wrapper-gap: 3rem,
    metadata-font-size: 0.85rem,
    metadata-font-weight: 600,
    metadata-letter-spacing: 0,
    metadata-word-spacing: 0,
    metadata-text-color: Defaults.$article-metadata-color-on-thumbnail,
    metadata-background: Defaults.$article-metadata-background-on-thumbnail,
  ),

  preview-2: (
    invert: 0, //? 0 | -1 => invert content & thumbnail-image position
    thumbnail-space: 60%,
    content-space: 40%,
    gap: 1rem,

    header-padding-inline: 0.75rem,
    header-padding-block: 0.25rem,

    title-font-size: 1.55rem,
    title-font-weight: 600,
    title-line-height: 1.25,
    title-line-clamp: none,
    title-letter-spacing: 0px,
    title-word-spacing: 0px,
    title-text-decoration: none,
    title-text-transform: Defaults.$article-heading-text-transform,
    title-color: Defaults.$article-heading-color-on-thumbnail,
    title-background: Defaults.$article-heading-background-on-thumbnail,

    content-font-size: 1.1rem,
    content-font-weight: normal,
    content-line-height: 1.4,
    content-line-clamp-fade: 9.75, 
    content-letter-spacing: 0,
    content-word-spacing: 0,
    content-color: Defaults.$article-text-color-on-thumbnail,
    content-background: Defaults.$article-text-background-on-thumbnail,
  ),

  preview-3: (
    vertical-gap: 1rem,
    vertical-justification: space-between,
    
    header-gap: 0.75rem,

    title-font-size: 1.25rem,
    title-font-weight: 500,
    title-line-height: 1.15em,
    title-letter-spacing: 1,
    title-word-spacing: 1,
    title-text-decoration: 1,
    title-text-transform: 1,
    title-color: Defaults.$article-heading-color,
    title-background: Defaults.$article-heading-background,

    metadata-wrapper-gap: 2rem,
    metadata-font-size: 0.85rem,
    metadata-font-weight: 400,
    metadata-letter-spacing: 1,
    metadata-word-spacing: 1,
    metadata-text-decoration: none,
    metadata-text-transform: none,
    metadata-color: Defaults.$article-metadata-color,
    metadata-background: Defaults.$article-metadata-background,
    
    line-color: rgba(0, 0, 0, 0.308), // Todo - Use a token

    content-font-size: 0.85rem,
    content-font-weight: 500,
    content-line-height: 1.45,
    content-line-clamp: 5,
    content-letter-spacing: 1,
    content-word-spacing: 1,
    content-color: Defaults.$article-text-color,
    content-background: Defaults.$article-text-background,
  ),

  // Template: [NameTemplate] - Variant: [NameVariant]
  preview-4: (
    invert: 0, // ? -  0 || -1 => Order between content & thumbnail
    thumbnail-space: 45%,
    content-space: 55%,
    gap: 2rem,

    title-font-size: 1rem,
    title-font-weight: 600,
    title-letter-spacing: 0px,
    title-word-spacing: 0px,
    title-text-decoration: none,
    title-text-transform: Defaults.$article-heading-text-transform,
    title-color: Defaults.$article-heading-color, 
    title-background: transparent,

    content-font-size: 0.8rem,
    content-font-weight: 600,
    content-line-height: 1.25,
    content-line-clamp: 4,
    content-letter-spacing: 1,
    content-word-spacing: 1,
    content-color: Defaults.$article-text-color, 
    content-background: Defaults.$article-text-background,

    metadata-wrapper-gap: 2rem,
    metadata-wrapper-justification: space-between,
    metadata-font-size: 0.75rem,
    metadata-font-weight: 500,
    metadata-letter-spacing: 0,
    metadata-word-spacing: 0,
    metadata-text-color: Defaults.$article-metadata-color,
    metadata-background: Defaults.$article-metadata-background,
  )
);

//////////////////////////////////////////////////////////////////////////////////////////

// ██▄ █   ▄▀▄ ▄▀     █▀▄ ▄▀▄ ▄▀▀ ▀█▀ 
// █▄█ █▄▄ ▀▄▀ ▀▄█    █▀  ▀▄▀ ▄█▀  █  

$blog-post: (
  // Your tokens here...
);

//////////////////////////////////////////////////////////////////////////////////////////

// █▀▄ ██▀ ▄▀▀ █ █▀▄ ██▀ 
// █▀▄ █▄▄ ▀▄▄ █ █▀  █▄▄ 

$recipe: (
  // Your tokens here...
)

//////////////////////////////////////////////////////////////////////////////////////////

/// ....