@mixin anchor-on-thumbnail($position: 'bottom') {
  @if ($position != 'bottom' and $position != 'top'){@error ' Wrong position for anchor on thumbnail '};
  position: absolute;
  position-anchor: --article-thumbnail;

  
  @if ($position == 'bottom'){
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
  } 
  @else if ($position == 'top') {
    left: anchor(left);
    top: anchor(top);
    right: anchor(right);
  }
}


