@use "sass:map";
@use "sass:meta";
@use "prop-directive-type" as Prop-Directive;

@use "../../../function/validations" as *;


// ================ U T I L I T I E S ===========================

@mixin write-declaration-if-value-exist($css-prop, $value){
  @if ($value) { #{$css-prop}: #{$value} };
}

@function is-validator-with-parameters($validator) {
  // Controlla se il valore è una lista
  @if type-of($validator) != 'list' {
    @return false;
  }

  // Controlla se la lista ha esattamente due elementi
  @if length($validator) == 2 {
    @return true;
  } @else {
    @return false;
  }
}

@function validate($function, $value, $parameters: null){
  @if ($parameters) {
    @return meta.call($function, $value, $parameters);
  } @else {
    @return meta.call($function, $value)
  }
}

@function validate-value($validation-function, $value){
  @return meta.call($validation-function, $value);
}

@function construct-validation-function($validator-fn-name){
  $function-name: "is-#{$validator-fn-name}";
  $function: meta.get-function($function-name);
  @return $function;
}

@function get-validation-hook($prop-directive){
  @return map.get($prop-directive, Prop-Directive.$VALIDATION_HOOK_KEY);
}

@function Validation-Requested($prop-directive){
  @return map.has-key($prop-directive, Prop-Directive.$VALIDATION_HOOK_KEY);
}

@function Submap-Request-Specified-On($props-directives-map){
  @return map.has-key($props-directives-map, Prop-Directive.$SUBMAP_KEY);
}

@function get-prop-name($prop-directive){
  @return map.get($prop-directive, Prop-Directive.$NAME_KEY);
}

@function resolve-css-prop-name($prop-directive) {
  $css-prop: map.get($prop-directive, prop-name);
  @if (map.get($prop-directive, Prop-Directive.$CSS_ALIAS)) {
    $css-prop: map.get($prop-directive, Prop-Directive.$CSS_ALIAS);
  }
  @return $css-prop;
}

@function get-submap($map, $prop-directive){
  $sub-map-name: map.get($prop-directive, sub-map);
  $sub-map: map.get($map, $sub-map-name);
  @return $sub-map;
}


/// @return {null | CSS-Value} -
@function get-value-from-submap($sub-map, $prop-name){
  @if (not $sub-map) {@return null};

  $value: map.get($sub-map, $prop-name);
  @return $value;
}

@function get-value-from-map($map, $prop-name){
  @return map.get($map, $prop-name);
}

// ================================================================