@use "@SASS-Abstracts" as *;
// Todo - Mi ricordo che questo era da fixare
// Todo - New name: apply-overlay-on-thumbnail
@mixin thumbnail-overlay($linear-gradient: 'to bottom, transparent 30%, rgba(0, 0, 0, 0.604)') {
  .article__thumbnail::before {
    @include pseudo-absolute;
    position-anchor: --article-thumbnail;
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    background: linear-gradient(#{$linear-gradient});
  }
}
