$CAROUSEL-ELEMENT-TRANSITION-PROPS: scale, border, border-radius, color, background, opacity, padding, margin;

$BUTTONS_POSITIONS: (
  outside-carousel,
  feet-carousel,
  head-carousel,
  inside-carousel,
  left-carousel,
  right-carousel,
  display-none,
  align-on-navigation,
  align-on-navigation-and-carousel-margins
);


$NAVIGATION_POSITIONS: (
  after,
  before,
  inside-frame,
  none,
)