// Prop directive:
  // sub-map?: string,
  // prop-name: string,
  // as?: string,

$SUBMAP_KEY: sub-map;
$PROP_NAME_KEY: prop-name;
$CSS_ALIAS_KEY: as;
$VALIDATION_HOOK_KEY: validation-hook;
$MODIFICATOR_HOOK_KEY: modificator-hook;