@use "sass:map";
@use "../../../abstracts/" as *;

@use "tokens" as *;
@use "abstract/globals/globals" as Glob;


// ▄▀▀ ▀█▀ ▀▄▀ █   ██▀    █▄ ▄█ ▄▀▄ █▀▄  // =================================================
// ▄█▀  █   █  █▄▄ █▄▄    █ ▀ █ █▀█ █▀   // =================================================

.carousel__variables-scope {
  @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
    $Map: $carousel-navigation, 
    $props-directives-map: (
      (
        prop-name: markers-style,
        as: --scroll-markers-style,
      ),
    )
  );
}

// ==========================================================================================



// █▀▄ ██▀ █▀ ▄▀▄ █ █ █   ▀█▀  // ===========================================================
// █▄▀ █▄▄ █▀ █▀█ ▀▄█ █▄▄  █  // ============================================================

.carousel__slide::scroll-marker{
  @include pseudo;
  width: var(--scroll-markers-size);
  height: var(--scroll-markers-size);
  flex-shrink: 0;
  
  @include apply-declarations($from: map.get($carousel-scroll-marker-styles, default));
  // Note Deprecare in favore di Consume-PropsDirective Mixins ?

  background-clip: content-box !important;  
  transition-property: Glob.$CAROUSEL-ELEMENT-TRANSITION-PROPS; 
}

// ==========================================================================================



// ▄▀▀ █   █ █▀▄ ██▀    █ █▄ ▄█ ▄▀▄ ▄▀  ██▀ // ==============================================
// ▄█▀ █▄▄ █ █▄▀ █▄▄    █ █ ▀ █ █▀█ ▀▄█ █▄▄ // ==============================================

@if (true){ // Todo - Need to fix those ifs
  // Note - Questo dovrebbe essere fatto con Astro, getImage <-
  // Note - Di norma, le immagini dei markers, non saranno mai prese da internet
  // Note - Dovrebbe esistere una directory particolare tipo: Carousel Scroll Marker Images

  @container --carousel-container style(--scroll-markers-style: slide-image) {
    @include apply-background-image-on-sequence-of-child(
      $childs-selector: '.carousel__slide',
      $childs-pseudo-element: '::scroll-marker',
      $childs-number: 7,
      $images-path: map.get($carousel-scroll-marker-styles, slide-image-path),
      $images-path-ending-divisor: map.get($carousel-scroll-marker-styles, divisor),
      $images-ext: map.get($carousel-scroll-marker-styles, ext),
    );
    @include apply-declarations(
      $on: '.carousel__slide::scroll-marker', 
      $from: map.get($carousel-scroll-marker-styles, slide-image))
  }
}

// ==========================================================================================



// ▄▀▀ ▄▀▄ █ █ █▄ █ ▀█▀ ██▀ █▀▄    █▄ █ █ █ █▄ ▄█ ██▄ ██▀ █▀▄ // =============================
// ▀▄▄ ▀▄▀ ▀▄█ █ ▀█  █  █▄▄ █▀▄    █ ▀█ ▀▄█ █ ▀ █ █▄█ █▄▄ █▀▄ // =============================

@if (true){ // Todo - Need to fix those ifs
  @container --carousel-container style(--scroll-markers-style: counter-numbers){
    .carousel__slide::scroll-marker{
      content: counter(carousel-slide-counter);
      @include flex-center;
      @include apply-declarations($from: map.get($carousel-scroll-marker-styles, counter-numbers));
    }
  }
}

// ==========================================================================================
