@font-face {
  font-family: 'carousel-arrows-font';

  src: url('/src/sass/components/others/carousel/abstract/assetts/arrows-icons-font/arrows-font.woff2') format('woff2'),
  url('/src/sass/components/others/carousel/abstract/assetts/arrows-icons-font/arrows-font.woff') format('woff');
       
  font-weight: normal;
  font-style: normal;
}