@font-face {
  font-family: 'moon-phases';

  src: url('src/sass/components/others/carousel/abstract/assetts/moon-phases-icons-font/moon-phases.woff2') format('woff2'),
  url('src/sass/components/others/carousel/abstract/assetts/moon-phases-icons-font/moon-phases.woff') format('woff');
       
  font-weight: normal;
  font-style: normal;
}


