---
/** Ogni preview consuma un entry e un template - Quindi si occupa di costruire la HTML View dell'article */

import ArticleHeader from '../ArticleHeader.astro';
import ArticleThumbnail from '../ArticleThumbnail.astro';
import ArticleFooter from '../ArticleFooter.astro';
import ArticleContent from '../ArticleContent.astro';
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';

interface Props { 
  entry: CollectionEntry<'article'> 
}; 
const { entry } = Astro.props;
const { Content } = await render(entry);
---
<Fragment>
  <div>
    <ArticleThumbnail
      src={entry.data.thumbnail.src}
      alt={entry.data.thumbnail.altText}
    />
  </div>
  <div>
    <ArticleHeader
      ArticleDataOBJ = {{
        title: entry.data.title,
        titleSmall: entry.data.titleSmall,
      }}
    />
    <ArticleContent>
      <Content/>
    </ArticleContent>
    <ArticleFooter
      ArticleDataOBJ = {{
        author: entry.data.author,
        pubblicationDate: entry.data.pubblicationDate,
      }}
    />
  </div>
</Fragment>