---
  import BaseLayoutEmpty from "@layouts/BaseLayoutEmpty.astro";
  import Carousel from "@components-p/carousel/Carousel.astro";

  import image1 from "../../content/images/american-flag.jpg";
  import image2 from "../../content/images/baloon.jpg";
  import image3 from "../../content/images/test.webp";
  import Image from "astro/components/Image.astro";
---

<BaseLayoutEmpty title="Carousel Testing">
  <Carousel infiniteScroll autoplay>
    {/* Qui vanno gli item che possono essere:
          Immagini
          Video
          Articles
          Insomma, di tutto - Dev'essere item-agonstic

          All'interno di Carousel usiamo List Utility per automatizzare la creazione di <li></li>

          Però prima c'è un wall : Bisogna trovare e imparare un'ottima libreria multimediale per immagini e video.
    */}  
    
    
    <div style="background: rgb(99, 99, 184)"></div>
    <div style="background: rgb(117, 197, 102)"></div>
    <div style="background: rgb(197, 167, 107)"></div>
    <div style="background: rgb(99, 99, 184)"></div>
    <div style="background: rgb(117, 197, 102)"></div>
    <div style="background: rgb(197, 167, 107)"></div>
    <!-- <Image src={image1} alt="test"/>
    <Image src={image2} alt="test"/>
    <Image src={image3} alt="test"/> -->
  </Carousel>
</BaseLayoutEmpty>

{/* Temporaney */}
<style>
  body{
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
</style>
{/* Temporaney */}