@use "@SASS-Article-Selectors" as Article;
@use "@SASS-Article-Selectors-Metadata" as Article-Metadata; 
 
@use "preview-1.scss";

@include Article.Template('preview-1.2'){
  @include Article.Extend('preview-1');

  @include Article-Metadata.Category-List{
    gap: 0.5rem;
  }
  @include Article-Metadata.Category{
    font-size: 1rem;
    font-weight: bold;       
    padding: 0.25rem;
  }
}