@use "@SASS-Abstracts" as *;

@use "@SASS-Article-Utilities" as *;
@use "@SASS-Article-Selectors" as Article;
@use "@SASS-Article-Selectors-Metadata" as Article-Metadata; 

// Todo - Da rivedere un po, mi sembra troppo complesso, prediligere un po più di semplicità
@use "../../../../../../abstracts/mixins/line-clamping" as *;

// @use "./preview-1.scss" as *; // Important for extend - Decided to not extend anymore, since it does not respect the  Liskov Substitution Principle

// Todo - Vorrei wrappare tutta questa roba
@use "../../../tokens-wrapper" as *;
$-Map: $news-article; $-Template: "preview-2";
@function Token($token){ @return getArticleToken($token, $-Map, $-Template); }
/* 
Todo In modo tale da poter fare tipo solo... 
*/
// Todo

//? Memo - Ricorda che sono padding agnostic
@include Article.Template('preview-2') { 
// ! Actually - Since this, extends the preview-1 - It should be named preview-1.3 for logical reasons
  //@include Article.Extend('preview-1');
  // Todo - In realtà non dovrebbe estendere proprio. è troppo diversa.

  display: flex;
  gap: Token(gap);

  @include Article.Content{
    flex-basis: Token(content-space);
    font-size: Token(content-font-size);
    font-weight: Token(content-font-weight);
    color: Token(content-color);
    background: Token(content-background);
    overflow: clip;
    > p{
      line-height: Token(content-line-height);
      letter-spacing: Token(content-letter-spacing);
      word-spacing: Token(content-word-spacing);
      @include line-clamp-fade(Token(content-line-clamp-fade), Token(content-line-height));
    }
  }

  @include article-utils-thumbnail-overlay('to bottom, transparent 5%, rgba(0, 0, 0, 0.750)'); // Todo - Da rivedere - forse c'è un modo migliore per farlo
  @include Article.Thumbnail{
    order: Token(invert);
    flex-basis: Token(thumbnail-space);
  }

  @include Article.Header{
    @include article-utils-anchor-on-thumbnail('bottom');
    padding-inline: Token(header-padding-inline);
    padding-block: Token(header-padding-block);
    

    @include Article.Metadata{
      @include article-utils-hide-meta-description-terms;
    }

    @include Article-Metadata.Title{
      color: Token(title-color);
      background: Token(title-background);
      font-size: Token(title-font-size);
      font-weight: Token(title-font-weight);
      line-height: Token(title-line-height);
      letter-spacing: Token(title-letter-spacing);
      word-spacing: Token(title-word-spacing);
      text-decoration: Token(title-text-decoration);
      text-transform: Token(title-text-transform);
      @include line-clamp(Token(title-line-clamp))
    }
  }  
}
