
@use "../../../mixins/selectors/article-selectors" as Article;
@use "preview-2.scss";

@use "../../../tokens-wrapper" as *;
$-Map: $news-article; $-Template: "preview-2";
@function Token($token){ @return getArticleToken($token, $-Map, $-Template); }

@include Article.Template('preview-2--inverted'){
  @include Article.Extend('preview-2');

  @include Article.Thumbnail{
    order: 0;
  }
  @include Article.Content{
    order: Token(invert);
  }
}

