// █▄ █ ██▀ █   █ ▄▀▀    ▄▀▄ █▀▄ ▀█▀ █ ▄▀▀ █   ██▀    ▀█▀ ▄▀▄ █▄▀ ██▀ █▄ █ ▄▀▀ 
// █ ▀█ █▄▄ ▀▄▀▄▀ ▄█▀    █▀█ █▀▄  █  █ ▀▄▄ █▄▄ █▄▄     █  ▀▄▀ █ █ █▄▄ █ ▀█ ▄█▀ 

@use "tokens-defaults.scss" as D;

// Template Specific Tokens: 

$news-article: (
  
  // [NameTemplate]--[NameVariant]: (
  // token-1: test,
  // token-1: test,
  //);

  preview-1: (
    text-alignment: left,

    header-padding-inline: 1.25rem,
    header-padding-block: 1.3rem,
    header-gap: 1rem,

    title-font-size: 1.55rem,
    title-font-weight: 400,
    title-line-height: 1.25,
    title-line-clamp: none,
    title-letter-spacing: 0px,
    title-word-spacing: 0px,
    title-text-decoration: none,
    title-text-transform: D.$article-heading-text-transform,
    title-color: D.$article-text-color-on-thumbnail,
    title-background: transparent,
    
    metadata-wrapper-gap: 3rem,
    metadata-font-size: 0.85rem,
    metadata-font-weight: 600,
    metadata-letter-spacing: 0,
    metadata-word-spacing: 0,
    metadata-text-color: D.$article-metadata-text-color-on-thumbnail,
    metadata-background: D.$article-metadata-background-on-thumbnail,
  ),

  preview-2: (
    invert: 0, //? 0 | -1 => invert content & thumbnail-image position
    thumbnail-space: 60%,
    content-space: 40%,
    gap: 1rem,

    header-padding-inline: 0.75rem,
    header-padding-block: 0.25rem,

    title-font-size: 1.55rem,
    title-font-weight: 600,
    title-line-height: 1.25,
    title-line-clamp: none,
    title-letter-spacing: 0px,
    title-word-spacing: 0px,
    title-text-decoration: none,
    title-text-transform: D.$article-heading-text-transform,
    title-color: D.$article-heading-color-on-thumbnail,
    title-background: transparent,

    content-font-size: 1.1rem,
    content-font-weight: normal,
    content-line-height: 1.4,
    content-line-clamp-fade: 9.75, 
    content-letter-spacing: 0,
    content-word-spacing: 0,
    content-color: D.$article-text-color-on-thumbnail,
    content-background: transparent,
  ),

  // Template: [NameTemplate] - Variant: [NameVariant]
  preview-4: (
    invert: 0, //? 0 || -1 => Order between content & thumbnail
    thumbnail-space: 45%,
    content-space: 55%,
    gap: 2rem,

    title-font-size: 1rem,
    title-font-weight: 600,
    title-letter-spacing: 0px,
    title-word-spacing: 0px,
    title-text-decoration: none,
    title-text-transform: D.$article-heading-text-transform,
    title-color: D.$article-heading-color, 
    title-background: transparent,

    content-font-size: 0.8rem,
    content-font-weight: 600,
    content-line-height: 1.25,
    content-line-clamp: 4,
    content-letter-spacing: 1,
    content-word-spacing: 1,
    content-color: D.$article-text-color, 
    content-background: D.$article-text-background,

    metadata-font-size: 0.75rem,
    metadata-font-weight: 500,
    metadata-letter-spacing: 0,
    metadata-word-spacing: 0,
    metadata-text-color: 0,
    metadata-background: 0,
  )
);