@use "../../tokens" as *;
@use "../masking" as *;

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}

// Todo - Problema principale - Una cosa del genere ti costringe ad avere un background per nascondere il centro del conic gradient
// Todo -                       Riusciamo a mascherare? con CSS Masking?
//!     -                       Si può fare, ma se vogliamo usare filter: blur per la sfumatura esterna, all'ora non si può fare

// Todo - Vorrei la possibilità di scegliere un fondo per i bordi (foreground)
// Todo - Possibile fare un offset?

//! Todo - Rifare una versione più slim senza blur

$card-foreground: $body-background-color; // Todo - Tipo qui vorrei usare transparancy

$borders-thickness: 3px;
$borders-external-glow: 0.15rem;

// Borders

$transparancy: transparent; // Todo - Tipo qui vorrei usare transparancy
$clr-1: #00a2ff;
$clr-2: #1348ac;
$clr-3: #153e97;

$speed: 5.5s;

/* Aesthetic */
.card {
  position: relative; // < Also important - Or it has to be contain:layout || container-type: inline-size || container-type: size
  height: 34rem;
  width: 24rem;
  background-color: $card-foreground; // < This is important
}
// ------------

.borders-wrapper {
  border-radius: inherit; // < This is important
  background-color: inherit; // < This is important
  z-index: -99;
  inset: 0;
}

.borders-wrapper[data-position="absolute"] {
  position: absolute;
}
.borders-wrapper[data-position="fixed"] {
  position: fixed;
}

.borders__external-glow,
.borders {
  border-radius: inherit; // < Also important
  position: absolute;
  inset: calc(($borders-thickness * -1));
  z-index: -1;

  background: conic-gradient(
    from var(--gradient-angle),
    $clr-1,
    $clr-2,
    $clr-3,
    $clr-2,
    $clr-1
  );
  animation: fancy-borders-conic-gradient $speed linear infinite;
}

.borders__external-glow {
  filter: blur($borders-external-glow);
}

@keyframes fancy-borders-conic-gradient {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
