@use "../abstracts/" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  text-decoration: $button-text-transform;
  line-height: 1;
  letter-spacing: $button-letter-spacing;
  text-transform: $button-text-transform;
  border: $button-border;
  border-radius: $button-border-radius;
  padding: $button-padding-default;
  transition: $button-transition;

  @media (pointer: coarse) {
    padding: $button-padding-default-coarse;
  }

  &:where([data-type="primary"]) {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:where(:hover, :focus) {
      background-color: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }

  &:where([data-type="accent"]) {
    background-color: $button-accent-background;
    color: $button-accent-color;

    &:where(:hover, :focus) {
      background-color: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }
}
