@use "../abstracts/" as *;

:where(.space-between) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:where(.flex-group) {
  display: flex;
  align-items: center;
  gap: $flex-group-gap;
}

:where(.wrap) {
  flex-wrap: wrap;
}

:where(.flow) {
  display: grid;
  gap: $grid-gap;
}

:where(body > section),
:where(main > section),
:where(.region, .section) {
  padding-block: $section-padding-block;
}
