@use "@SASS-Abstracts" as *;
@use "@SASS-Carousel-Abstracts" as *;


.carousel__variables-scope{
  @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
    $Map: $carousel, 
    $props-directives-map: (
      (
        sub-map: slide,
        prop-name: first-child-margin-start,
        as: --carousel-slide-first-child-margin-start,
      ),
      (
        sub-map: slide,
        prop-name: last-child-margin-end,
        as: --carousel-slide-last-child-margin-end,
      ),
    )
  );
}


.carousel__slide {
  @include create-container(
    $type: scroll-state,
    $name: --carousel-scroll-container
  );

  counter-increment: carousel-slide-counter 1;
  position: relative;

  > * {
      // Memo - Gli elementi all'interno della slide devono essere width: 100% - height: 100%
      width: 100%;
      height: 100%;
    }
}

.carousel__slide {
  flex-shrink: 0;
  
  @include Spread-Properties-From-Submap-ForEach-Breakpoint-In-Map(
    $breakpoint-map: $carousel, 
    $submap-to-spread: slide,
    $props-to-exclude: (first-child-margin-start, last-child-margin-end),
  );

  // Note - Shall put this in contain-layout ? Controllare affinità con scroll-state
    overflow: clip;
}



// Note - Debug
@if ($debug == true) {
  .carousel__slide {
    --content: attr(data-index, type(*));
  }
  .carousel__slide::after {
    
    content: var(--content);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 10%;
    padding-inline: 20%;
    border-radius: 100vw;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Arial';
    aspect-ratio: 1/1;
  }
}