@use "@SASS-Abstracts" as *;
@use "@SASS-Carousel-Abstracts" as *;

.carousel__variables-scope {
  @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
    $Map: $carousel, 
    $props-directives-map: (
      (
        sub-map: frame,
        prop-name: width,
        as: --carousel-frame-width,
      ),
      (
        sub-map: frame,
        prop-name: height,
        as: --carousel-frame-height
      ),
    )
  );
}

.carousel {
  width: 100%;  // leave it
  height: 100%; // leave it
  place-items: center;
  anchor-name: --carousel; 
  counter-reset: carousel-slide-counter 0; //Todo: create-counter mixin
  

  &__slide {
    flex-shrink: 0 !important;
  }
  
  @include Spread-Properties-From-Submap-ForEach-Breakpoint-In-Map(
    $breakpoint-map: $carousel, 
    $submap-to-spread: frame,
    $props-to-exclude: (width, height, gap-between-slides),
  );
  
  @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
    $Map: $carousel, 
    $props-directives-map: (
      (
        sub-map: frame,
        prop-name: gap-between-slides,
        as: gap,
      ),
    )
  );
}

