@use "@SASS-Abstracts" as *;
@use "@SASS-Carousel-Abstracts" as *;

.carousel__variables-scope{
  @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
    $Map: $carousel, 
    $props-directives-map: (
      (
        sub-map: scroll,
        prop-name: direction,
        as: --carousel-scroll-direction,
        validation-hook: axis-long-name,
      ),
      (
        sub-map: scroll,
        prop-name: snap-type,
        as: --carousel-scroll-snap-type,
      ),
    )
  );
}

.carousel {
  
  display: flex;
  overflow: auto;
  scroll-snap-type: both var(--carousel-scroll-snap-type);
  
  
  @container --carousel-container style(--carousel-scroll-direction: vertical) {
    writing-mode: vertical-lr;
  }
  @container --carousel-container style(--carousel-scroll-direction: horizontal) {
    writing-mode: horizontal-tb;
  }

  @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
    $Map: $carousel, 
    $props-directives-map: (
      (
        sub-map: scroll,
        prop-name: behavior,
        as: scroll-behavior,
      ),
      (
        sub-map: scroll,
        prop-name: scrollbar-width,
      ),
      (
        sub-map: scroll,
        prop-name: scrollbar-color,
      ),
    )
  );

}


.carousel__slide{
    // Note - Contain: layout (?)

    @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
        $Map: $carousel, 
        $props-directives-map: (
          (
            sub-map: scroll,
            prop-name: snap-align,
            as: scroll-snap-align,
          ),
          (
            sub-map: scroll,
            prop-name: snap-stop,
            as: scroll-snap-stop,
          ),
        )
      );

    &:first-child{
      @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
        $Map: $carousel, 
        $props-directives-map: (
          (
            sub-map: slide,
            prop-name: first-slide-margin-start,
            as: margin-inline-start,
            //validation-hook percentage (?)
          ),
        )
      );
    }
    &:last-child {
      @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
        $Map: $carousel, 
        $props-directives-map: (
          (
            sub-map: slide,
            prop-name: last-slide-margin-end,
            as: margin-inline-end,
            //validation-hook percentage (?)
          ),
        )
      );
    }
  }

