@use "@SASS-Abstracts" as *;
@use "@SASS-Carousel-Abstracts" as *;

.carousel__grid-wrapper {
  display: grid;

  @include Spread-Properties-From-Submap-ForEach-Breakpoint-In-Map(
    $breakpoint-map: $carousel, 
    $submap-to-spread: wrapper,
    $props-to-exclude: (border-offset),
    $props-to-unallow: (width, height, gap),
  );

  @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
    $Map: $carousel, 
    $props-directives-map: (
      (
        sub-map: wrapper,
        prop-name: border-offset,
        as: padding,
      ),
    )
  );
}


$-Navigation-Space: var(--scroll-markers-size);
$-Frame-Space--Horizontal: var(--carousel-frame-width); 
$-Frame-Space--Vertical: var(--carousel-frame-height); 
$-Wrapper-Gap: var(--carousel-gap-between-frame-and-navigation);
// Note momentanei private member da risolvere in futuro

// Memo - The sizing of the frame & of the navigation - It's directed by this & only this abstraction


// Note - Posso migliorare la leggibilità di questo codice?

.carousel__grid-wrapper {
  // Todo - Devo scrivere queste if
  @if (true) { 
    @if (true) {
      @container --carousel-container 
        style(--scroll-marker-group-position: before) and 
        style(--scroll-marker-group-orientation: vertical) {
          grid-template-columns: $-Navigation-Space $-Frame-Space--Horizontal; 
          grid-template-rows: $-Frame-Space--Vertical;
          column-gap: $-Wrapper-Gap;
      }
    }
    
    @if (true) {
      @container --carousel-container 
        style(--scroll-marker-group-position: before) and
        style(--scroll-marker-group-orientation: horizontal) {
          grid-template-rows: $-Navigation-Space $-Frame-Space--Vertical;
          grid-template-columns: $-Frame-Space--Horizontal;
          row-gap: $-Wrapper-Gap;
      }
    }
  }

  @if (true) {
    @if (true) {
      @container --carousel-container 
        style(--scroll-marker-group-position: after) and
        style(--scroll-marker-group-orientation: vertical) {
          grid-template-columns: $-Frame-Space--Horizontal $-Navigation-Space;
          grid-template-rows: $-Frame-Space--Vertical;
          column-gap: $-Wrapper-Gap;
        }
    }

    @if (true) {
      @container --carousel-container 
        style(--scroll-marker-group-position: after) and
        style(--scroll-marker-group-orientation: horizontal) {
          grid-template-rows: $-Frame-Space--Vertical $-Navigation-Space;
          grid-template-columns: $-Frame-Space--Horizontal;
          row-gap: $-Wrapper-Gap;
        }
    }
  }

  @if (true) {
    @container --carousel-container
      style(--scroll-marker-group-position: inside-frame) {
        grid-template-columns: $-Frame-Space--Horizontal;
        grid-template-rows: $-Frame-Space--Vertical;
        // No gap in this case
      }
  }

}