@use "@SASS-Abstracts" as *;
@use "../tokens" as *;


.carousel {
  width: 100%;  // leave it
  height: 100%; // leave it
  place-items: center;
  anchor-name: --carousel; 
  counter-reset: carousel-slide-counter 0; //Todo: create-counter mixin
  
  
  @include Spread-Properties-From-Submap-ForEach-Breakpoint-In-Map(
    $breakpoint-map: $carousel, 
    $submap-to-spread: frame,
    $props-to-exclude: (width, height),
  );
  
  
  // Note - Come vogliamo implementare questa cosa? Usiamo CSS VARS?
  // Note - Questo dovremmo lasciarlo così, poi vediamo.
  // Note - Facciamo che questo non sarà dinamico.
  @include create-flexbox-snap-scroller(
    $direction: $carousel-scroll-direction,
    $scroll-snap-type: $carousel-scroll-snap-type,
    $scroll-snap-stop: $carousel-scroll-snap-stop,
    $scroll-snap-align: $carousel-scroll-snap-align,
    $scrolling-items-selector: ".carousel__slide",
    $scroll-behaviour: $carousel-scroll-behaviour,
    $scrollbar: none
  );
  //gap: $carousel-slide-gap;

}

.carousel__variables-scope {
  @include Consume-PropsDirectives-ForEach-Breakpoint-Map(
    $Map: $carousel, 
    $props-directives-map: (
      (
        sub-map: frame,
        prop-name: width,
        as: --carousel-frame-width,
      ),
      (
        sub-map: frame,
        prop-name: height,
        as: --carousel-frame-height
      ),
    )
  );
}