---
/** Ogni preview consuma un entry e un template - Quindi si occupa di costruire la HTML View dell'article */

import ArticleHeader from '../../ArticleHeader.astro';
import ArticleContent from '../../ArticleContent.astro';
import ArticleLink from '@components-p/article/ArticleLink.astro';
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';

interface Props { 
  entry: CollectionEntry<'article'> 
}; 
const { entry } = Astro.props;
const { Content } = await render(entry);  

---
<Fragment>
  <ArticleHeader
     ArticleDataOBJ = {{
      title: entry.data.title,
      titleSmall: entry.data.titleSmall, // Devo fare che title trattiene sempre titleSmall
      author: entry.data.author, // Devo nidificare cose all'interno di author, tipo name, address, ecc
      pubblicationDate: entry.data.pubblicationDate,
    }}
    MetaLayoutType="News"
  />
  <div class="line"></div>
  <ArticleContent>
    <Content/>
  </ArticleContent>
  
  <ArticleLink slug="article-test", position="full-box"></ArticleLink>
 </Fragment>